body {
    width:              100%;
    text-align:         center;
    color:              #2A324B;
    font-family:        'Roboto', sans-serif;
    background-color:   #eee;
}

header {
    padding:  0.5em;
    background-color: #2A324B;
}

main {
    max-width: 600px;
    margin: auto;
}

body, h1, h3 {
    padding: 0;
    margin:  0;
}

h1 {
    font-size:      32px;
    font-weight:    700;
    height:         38px;
    color:          #F7C59F;

    display: block;
    /*font-size: 2em;*/
}

h3 {
    font-size:      18px;
    font-weight:    700;
    height:         21px;
    color:          #767B91;
}

h6 {
    font-size:      14px;
    font-weight:    700;
    margin:         0.5em;
    color:          #2A324B;
}

img {
    width:          100%;
}

p {
    /*margin:         16px 0;*/
}

button {
    border:             1px solid #2A324B;
    background-color:   lightgreen;
    border-radius:      10px;
    height:             30px;
}

input {
    padding:            1em;
    width:              50%;
    display:            block;
    margin:             10px auto;
}

.more-info {
    font-weight:        100;
    font-size:          12px;
    font-style:         italic;
    padding:            1em;
}

.loading-overlay {
    display:            block;
    float:              left;
    position:           relative;
    top:                0;
    left:               0;
    background-color:   white;
    height:             100vh;
    width:              100%;
}

.spacer {
    display:    block;
    width:      100%;
    height:     1em;
    margin:     0;
    padding:    0;
    border:     0;
}

.error {
    color:          red;
    font-style:     italic;
    padding:        0 0 1em 0;
    font-weight:    800;
}

/* Just a place to put the color pallet */
.placeholder {
    color: #F7C59F;
    color: #2A324B;
    color: #767B91;
    color: #C7CCDB;
    color: #E1E5EE;
}